.logo
    animation: drop-in 1.5s ease 0.3s forwards
    bottom: 50%
    left: 50%
    position: absolute
    transform: translate(-50%, 50%)
    opacity: 0
    width: 75%
    z-index: 1
    +break($md)
        width: 66.66%
    +break($lg)
        width: 50%